@import '../components/base.sass'


.blog
  display: flex
  flex-direction: column
  align-items: center
  width: 100% 
  margin-top: 3em
  &__body
    display: flex
    background: red
    justify-content: center
    width: 100%
    margin-top: 3em
    &__left, &__right 
      display: flex
      background: pink
      flex: 1
    &__left
      &__icons
        position: sticky
        top: 80px
        margin-top: .35em
        flex-direction: column
        display: flex
        align-self: flex-start
        padding-right: 3.5em
        width: 25px
        margin-left: 0.4em
        &__container
          width: 25px
          img 
            margin-bottom: 20px
    &__center
      width: 750px
      height: 100%
      &__post
        display: flex
        flex-direction: column
        background: lightblue
        align-self: center 
        justify-self: center
        &__content
          color: $bloggrey
          blockquote
              color: #969696
              border-left: 1px solid #969696
              padding-left: 10px
              margin: 10px 40px
              margin-bottom: 2em
              p
                  margin-bottom: 0
          img
              float: left
          strong
              color: black
          ul
              margin: 10px 40px
          p
              margin-bottom: 2em
          a, a:visited, a:hover 
            text-decoration: underline
          a, a:visited
            color: $accentlight
          a:hover 
            color: $accentlight
        &__more
          display: flex
    &__right
      width: 30px 
      height: 100%