@import '../../base.sass'
.audit
  display: flex
  flex-direction: column
  transform: translateY(5%) 
  opacity: 0
  transition: all 2s ease-in-out
  &.loaded 
    transform: translateY(0) 
    opacity: 1

  &__content
    h3 
      margin-top: 2.25em
    h3, h4 
      margin-bottom: 0.2em
    p 
      margin-bottom: 2em
    &__form
      width: 90%
      margin-top: 5em
      h5
        margin-bottom: .5rem
  .audit__form__sent, .audit__form__not 
    display: flex 
    width: 100% 
    justify-content: center 
  .audit__form__not
    p 
      display: none
  .audit__form__sent
    text-align: center
    margin-top: 2em
    p 
      display: flex
      font-size: 1.1em
  a 
    margin: 1.25em auto
