@import '../vars.sass'
@import '../base.sass'
.testimonials__slider__container 
  position: relative
  height: auto
  width: 75% 
  font-family: $subfont
  z-index: 1

  @include tablet-phone 
    width: 60%
  @include phone-large 
    width: 100%
  
  &__slide 
    display: flex
    height: 300px 
    width: 260px 
    padding: 0px 15px
    flex-direction: column
    border-left: 1px solid black
    @include edgesnap 
      width: 33%

    @include phone-large 
      width: 90%
      margin-top: 15px
    .bottom
      position: absolute 
      bottom: 0
    .description 

      line-height: 1.3em
      @include edgesnap 

    
    h4 
      color: black

    .position 

      color: grey
  
@keyframes moving-forward 
  0% 
    transform: translateX(0)
  100%
    transform: translateX(-900px)
 