.postpreview
  display: flex 
  flex-direction: column
  width: 290px
  &:hover 
    cursor: pointer
    .postpreview__image 
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2)
      transform: scale(1.01) translateY(-.3em)
  &__image
    // background: lightgreen
    padding: 2.8em 1em
    border-radius: 22px
    width: 100%
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15)
    transition: all .55s ease-in-out
    img
      width: 100%

  &__info
    h3 
      font-size: 1.55em
      margin-top: .65em
    p 
      font-size: 0.9em
      font-weight: 400
      margin: .45em 0em
    span 
      color: #666A73
      font-size: 0.96em
