@import '../base.sass'
  
.service__block 
  display: flex
  background: pink
  margin-bottom: 20px
  &__left 
    background: yellow
    width: 300px
    height: 220px
  &__center 
    width: 1px 
    background: $grey
    margin: 0px 25px
  &__right
    display: flex 
    flex-direction: column 
    justify-content: center
    background: orange
    flex: 1
    &__item 
      background: teal
