@import '../vars.sass'
@import '../base.sass'

.about
  display: flex
  justify-content: center
  height: auto
  padding: 150px 0px
  background: $light-grey
  color: black
  font-family: $subfont
  overflow: hidden
  @include edgesnap 
    padding: 120px 0px
  @include tablet
    padding: 80px 0px
  @include phone-large 
    height: 750px
    padding: 0px 0px
  @include phone 
    height: 790px
  @include phone-small
    height: 800px
  &__content
    display: flex
    width: 1100px
    @include edgesnap 
      width: 100% 
      padding: 0px 20px
    &__container 
      display: flex
      justify-content: space-between
      width: 100%
      @include phone-large 
        flex-direction: column

      &__left, &__right
      &__left
        z-index: 1
        display: flex
        position: relative
        justify-content: center
        width: 60%
        margin-right: 0px
        margin-left: -20px
        @include edgesnap 
          width: 30%
          margin-left: 100px
        @include phone-large
          width: 100%
          margin-top: 175px 
          margin-left: 15px
      &__right
        display: flex
        flex-direction: column
        justify-content: center
        width: 76%
        // font-size: .9em
        line-height: 1.75em
        font-weight: $light
        @include edgesnap 
          width: 50%
          margin-right: 20px
        @include tablet
          font-size: .8em
          line-height: 1.45em
        @include phone-large 
          width: 100%
          margin-bottom: 40px
        p 
          @include edgesnap 
            line-height: 1.25rem
          @include tablet
            width: 100%
        img 
          display: flex 
          width: 50%
          margin-bottom: 15px
          @include edgesnap 
            width: 70%
          @include tablet 
            width: 70%
            margin-bottom: 15px
          @include phone-large 
            width: 75%
            align-self: center
        
@keyframes panel-entry-animation
  from 
    transform: scale(0)
  to 
    transform: scale(1)
