@import '../base.sass'

section.aboutsection 
  background: $light-grey

.about
  display: flex
  justify-content: center
  height: auto
  padding: 100px 0px
  position: relative
  color: black
  font-family: $subfont
  overflow: hidden
  @include edgesnap 
    padding: 120px 0px
  @include tablet
    padding: 80px 0px
  @media(max-width: 500px)
    height: 575px
    padding: 0px 0px
  @media(max-width: 440px)
    height: 550px
  @include phone 
    height: 530px
  @include phone-small
    height: 450px
  &__content
    display: flex
    background: orange
    &__container 
      display: flex
      justify-content: space-between
      width: 100%
      @media(max-width: 500px)
        flex-direction: column
      &__left, &__right
      &__left
        z-index: 1
        display: flex
        position: relative
        justify-content: center
        width: 60%
        margin-right: 0px
        margin-left: -20px
        transform: scale(0.88)
        margin-bottom: 15px
        @include edgesnap 
          width: 30%
          margin-bottom: 0px
          margin-left: 40px
        @media(max-width: 700px)
          transform: scale(0.8)
          margin-left: 60px
        @media(max-width: 540px)
          transform: scale(0.7)
          margin-left: 60px
        @media(max-width: 500px)
          transform: scale(0.92)
          width: 100%
          margin-top: 155px 
          margin-left: 15px
        @media(max-width: 440px)
          margin-top: 148px 
          margin-left: 15px
        @include phone 
          margin-btop: 155px
      &__right
        display: flex
        flex-direction: column
        justify-content: center
        width: 76%
        font-size: .9em
        line-height: 1.45em
        font-weight: $light
        @include edgesnap 
          width: 50%
        @include tablet
          // font-size: .8em
          line-height: 1.45em
        @include tablet-phone 
          width: 57%
        @media(max-width: 500px)
          width: 93%
          position: absolute
          width: 92.25%
          // margin: 0px 10px
          bottom: 0
          margin-bottom: 40px
        @include phone 
          width: 90%
        p 
          line-height: 1.35em
          @include edgesnap 
            line-height: 1.25em
          @media(max-width: 700px)
            line-height: 1.2em
          @include tablet
            width: 100%
        img 
          display: flex 
          width: 40%
          margin-bottom: 0.8em
          @include edgesnap 
            width: 50%
          @media(max-width: 700px)
            width: 60%
          @include tablet 
            // width: 70%
            // margin-bottom: 15px
          @media(max-width: 500px)
            width: 50%
            align-self: center
        
@keyframes panel-entry-animation
  from 
    transform: scale(0)
  to 
    transform: scale(1)
