@import '../../base.sass'
  
.button
  display: flex
  &.loaded
    // background: red 
    // align-self: flex-start
  a, a:visited
    font-size: 0.9em
    font-weight: 300
    // color: $accentlight
    color: black
    // border: 1px solid $accentlight
    border: 1px solid black
    padding: 0.375em 1.4em
    // border-radius: 3px
    border-radius: 100px
    transition: all .2s ease-in-out
    position: relative
    overflow: hidden
    @include tablet-phone 
      font-size: 1em
      padding: 0.3em 1.2em
    @include phone-large 
      font-size: 1rem   
    &:hover
      color: $accentlight
      border: 1px solid $accentlight
      text-decoration: none
      // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15)
   
    .spacer
      opacity: 0
      // transform: translateY(20%)
      transition: all 1.5s ease-in-out
      &.loaded 
        opacity: 1 
        // transform: translateY(0)