@import '../../base.sass'
    
.navigation 
  position: sticky 
  top: 0
  background: white
  box-shadow: 0px 0px 3px 0px rgba(145,145,145,0.6)
  // transform: translateY(-100%)
  z-index: 99
  height: 65px
  display: flex 
  @include edgesnap 
    height: 75px
  @include tablet 
    height: 70px
  @include phone-large 
    height: 60px
  
nav 
  display: flex
  width: 100%
  h2 
    margin: 0
    padding: 0
  .nav__container
    display: flex
    // background: lightgreen
    justify-content: space-between
    width: 100%
    &__brand 
      display: flex
      bcakground: red 
      align-items: center
      width: 215px
      margin-top: .4em
      // transform: translateY(-1vw)
      opacity: 0
      transition: all 1s ease-in-out
      &.loaded 
        // transform: translateY(0)
        opacity: 1
      @include edgesnap 
        width: 23vw
      @include tablet 
        width: 26vw
      @include tablet-phone 
        width: 36vw
      @include phone-large 
        width: 42vw
      img 
        max-height: 100%
        width: 100%
    &__navigation 
      display: flex
      align-items: center
      height: 100% 
      // background: green
      // transform: translateY(-1vw)
      opacity: 0
      transition: all 1s ease-in-out
      &.loaded 
        // transform: translateY(0)
        opacity: 1
      @include navsnap 
        display: none
      &:nth-last-child(1)
        margin-left: 0px
      a, a:visited
        color: black
      a:hover 
        color: $accentlight
      a 
        font-size: 1em
        margin-left: 1.15em
        // padding: 0px 4px
        // background: orange
        transition: all 0.2s ease-in-out
        @include edgesnap 
          font-size: 0.945em
        &:nth-last-child(1)
          border: 1px solid black
          // border-radius: 3px
          border-radius: 100px
          padding: 0.22em 1.3em
          &:hover 
            color: $accentlight
            border: 1px solid $accentlight

    &__mobilenav
      display: none
      @include navsnap 
        display: flex 
        align-self: center
        justify-content: flex-end
        margin-left: 10px
      &__hamburger
        display: flex
        flex-direction: column 
        justify-content: space-between
        cursor: pointer
        height: 13px
        align-self: center
        position: relative 
        z-index: 10
        &__line1, &__line2, &__line3
          display: flex
          height: 1px
          width: 23px
          background: $blue-grey
        &__line1
        &__line2
        &__line3
      @import './mobilenav.sass'

// @keyframes expand-submenu 
// from 
// opacity: 0
// transform: rotateY(0deg) scale(0.3)
// to 
// opacity: 1
// transform: rotateY(1080deg) scale(1) 


// translateY($nav-height)

// translateY($nav-height)