@import '../../base.sass'


    
.navigation 
  background: white
  position: sticky
  top: 0
  z-index: 99
  box-shadow: 0px 0px 3px 0px rgba(145,145,145,0.6)
nav 
  display: flex
  width: 100%
  padding: 1.2em 0px
  @include edgesnap 
    padding: 0.8em 0px
  @include tablet 
    padding: 0.75em 0px
  h2 
    margin: 0
    padding: 0
  .nav__container
    display: flex
    // background: lightgreen
    justify-content: space-between
    width: 100%
    &__brand 
      display: flex 
      justify-content: flex-start
      align-items: center
      width: 245px
      @include edgesnap 
        justify-content: flex-start
        height: 45px
        width: 24vw
      @include tablet 
        width: 26vw
      @include tablet-phone 
        width: 46vw
      @media(max-width: 800px)
        height: 40px
      img 
        max-height: 100%
        width: 100%
    &__navigation 
      display: flex
      align-items: center
      height: 100% 
      // background: green
      @include navsnap 
        display: none
      &:nth-last-child(1)
        margin-left: 0px
      a, a:visited
        color: black
      a:hover 
        color: $accentlight
      a 
        font-size: 1.025em
        margin-left: 1.2em
        // padding: 0px 4px
        // background: orange
        transition: all 0.2s ease-in-out
        @include edgesnap 
          font-size: 0.945em
        &:nth-last-child(1)
          border: 1px solid black
          border-radius: 3px
          padding: 0.34em 1.1em
          &:hover 
            color: $accentlight
            border: 1px solid $accentlight

    &__mobilenav
      display: none
      @include navsnap 
        display: flex 
        align-self: center
        justify-content: flex-end
        margin-left: 10px
      &__hamburger
        display: flex
        flex-direction: column 
        justify-content: space-between
        cursor: pointer
        height: 13px
        align-self: center
        position: relative 
        z-index: 10
        &__line1, &__line2, &__line3
          display: flex
          height: 1px
          width: 23px
          background: $blue-grey
        &__line1
        &__line2
        &__line3
      @import './mobilenav.sass'

// @keyframes expand-submenu 
// from 
// opacity: 0
// transform: rotateY(0deg) scale(0.3)
// to 
// opacity: 1
// transform: rotateY(1080deg) scale(1) 


// translateY($nav-height)

// translateY($nav-height)