@import '../vars.sass'
@import '../base.sass'
.body
  display: flex
  .right
    width: 50%
    display: flex
    flex-direction: column
  .left
    width: 50%
    display: flex
    flex-direction: column
    &__main
      width: 100%
      img
        width: 90%
    &__alt
      display: flex
      max-width: 20px
    img
      // max-width: 100px