@import '../base.sass'

.modal
  background: white
  border-radius: 3px
  height: 65vh
  position: absolute
  z-index: 100000
  width: 1100px
  box-shadow: 0px 0px 31px -8px rgba(87,87,87,1)
  font-size: 12pt
  @include edgesnap 
    font-size: 1.435vw
    width: 80%
    height: 45vw 
    padding: 0px 60px
  @include tablet-phone 
    padding: 0px 20px
  .body
    display: flex
    height: 100%
    width: 100%
    overflow: hidden
    justify-content: space-around
    .left, .right 
      width: 48%
      display: flex
      flex-direction: column
    .left
      align-content: center
      justify-content: space-around
      &__main
        // background: lightskyblue
        width: 100%
        height: 75%
        display: flex
        flex-direction: column
        align-content: center
        justify-content: center
        border-radius: 3px
        box-shadow: 0px 0px 26px -10px rgba(87,87,87,1)
        img
          align-self: center
          max-width: 100%
          height: auto
          max-height: 100%   
      &__alt
        // background: lightskyblue
        width: 100%
        display: flex
        flex-wrap: wrap
        border-radius: 3px
        box-shadow: 0px 0px 26px -10px rgba(87,87,87,1)
        img
          padding: 5px
    .right
      display: flex
      justify-content: space-between
      padding: 1.05em 0em
      &__top
        &__close
          position: absolute
          right: 0
          height: 23px 
          width: 23px
          margin-right: 1em
          border-radius: 100%
          border: 1px solid black
          background:
            image: url('../../images/x-modal.svg')
            size: 50%
            position: center
            repeat: no-repeat
          transition: all 0.7s ease-in-out
          &:hover 
            transform: scale(1.1) rotate(360deg)
            box-shadow: 0px 0px 26px -8px rgba(87,87,87,1)
          @include edgesnap 
            height: 2.1vw
            width: 2.1vw
        h4 
          font-size: 1.3em
          margin-bottom: 0.5em
        &__type
          color: lightgrey
          margin-bottom: 0.5em
        &__desc
          margin-top: 1.2em
          height: 100%
      a, a:visited 
        color: black
        text-align: center
        border: 1px solid black
        padding: 8px 0px
        font-weight: $light
        font-size: 0.9em
        transition: all 0.32s ease-in-out
        &:hover 
          border: 1px solid $accentlight
          color: $accentlight
          transform: translateY(-2px)


.portfolio
  display: flex
  flex-direction: column
  width: 100%
  &__body
    display: flex
    width: 100%
    flex-wrap: wrap
    // background: seagreen
    &__piece
      margin: 10px
      // background: tan
      width: 22%
      display: flex
      flex-direction: column
      align-content: center
      justify-content: center
      box-shadow: 0px 0px 12px 0px rgba(128,128,128,1)
      img
        align-self: center
        max-width: 100%
        height: auto
        max-height: 100%   



