.ReactModal__Overlay
  z-index: 100000
  //where are these being overwritten?
  display: flex !important
  justify-content: center !important
  align-items: center !important
  padding: 0px 0px !important

.ReactModal__Content, .ReactModal__Content--after-open, .portfolio-module--modal--38TZE
  padding: 0px 0px
