@import '../../base.sass'

.audit__hero
    width: 100%
    background: $blue-grey
    &__content
        display: flex
        @include phone-large
            flex-direction: column-reverse
        &__left
            display: flex
            flex-direction: column
            height: 100%
            justify-content: center
            h2
                color: white
            p
                color: lightgray